.c {
    background-color: rgb(154, 202, 154);
}

.form {
    width: 500px;
    border: 1px solid green;
    padding: 20px;
    margin: 0 auto;
    font-weight: 700px;
    background-color: rgb(110, 148, 180);
}

.d {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
}

.a {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: blue;
    color: aliceblue;
}

table,
th,
td {
    border: 5px solid rgb(19, 71, 23);
}